.BriefingContainer {
    width: 225px;
    height: 225px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: antiquewhite;
    margin-top: 4vh;
}

.BriefingContainer .BriefingHeader {
    font-size: 10px;
    color: aliceblue;
    border-radius: 10px 10px 0 0;
    margin-bottom: auto;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    background-color: blue;
    width: 100%;
    text-align: center;
}

.BriefingContainer .BriefingContent {
    font-size: 17px;
    align-self: center; 
    flex-grow: 0.5; 
}

.BriefingContainer .BriefingState {
    font-size: 12px;
    align-self: flex-end;
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
}
